#knowledge{
    padding-top: 5.5rem;
}
.cruzeiro-img,.meta-img{
    width: 100%;
    border-radius: 1.5rem;
}

#knowledge .cards{
    padding: 1rem 0;
}

.knowledge-card{  
    background-color: #ffffff0c;
    padding: 2rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: 1rem;
}

.knowledge-card p{
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 100;
}

.knowledge-card aside{
    display: flex;
    justify-content: space-between;
}

#knowledge .cards{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-top{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.card-top .technologies{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.technologies-card .tech{
    width: 3.6rem;
    height: 100%;
}
.technologies-card{
    background-color: #0a0d27c0;
    background-color: #080a1863;
    padding: .8rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: max-content;
}

.middle .tech{
    height: 7rem;
}

#knowledge .middle{
    height: 100%;
    display: flex;
    align-items: center;
}



@media (max-width: 875px) {
    .cards{
        flex-direction: column;
    }
    #knowledge .cards{
        padding: 1rem 10vw;
    }
    .knowledge-card{
        width: 100%;
        padding: 5vw;
    }
    .knowledge-card p{
        font-size: 1rem;
    }
    .middle .tech{
        height: 5rem;
    }
    #knowledge .cards{
        gap: 1rem;
    }
}
@media (max-width: 550px) {
    .knowledge-card{
        padding: 1rem;
        border-radius: 2rem;
    }
    #knowledge .cards{
        padding: 1rem;
    }
}